<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/Neilpfp.jpg" alt="Profile Picture" width="256" height="256" class="rounded-circle">
                <p>
                    Lorem ipsum dolor sit amet. Sit voluptatem fugiat sed reiciendis mollitia cum tenetur porro aut vitae assumenda qui molestias officia. Et autem illum quo dolorum sint non quam dolor sit accusantium Quis a dolor eius et sequi illo et tempore dolorem. Aut voluptas vero rem nulla amet et sint mollitia.
                </p>
            </div>
        </div>

        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>
        </div>
    </div>
</div>