<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/Neilpfp.jpg" alt="Profile Picture" width="256" height="256" class="rounded-circle">
                <p>
                    Greetings! I'm Neil Barot, a recent graduate of the University of Texas at Dallas, where I delved into the captivating world of software engineering. My academic journey has been marked by a relentless pursuit of knowledge and a deep-seated passion for technology.

                    In my spare time, I thrive on learning about and experimenting with the latest technologies. Whether it's exploring new programming languages, tinkering with innovative frameworks, or diving into emerging tech trends, I'm always eager to expand my skill set and stay ahead of the curve.

                    Collaboration is at the heart of what drives me. I thrive in team environments, where diverse perspectives converge to tackle challenges and innovate. Armed with a robust foundation, I'm ready to make meaningful contributions to impactful projects and embark on the next chapter of my journey in the software engineering industry.
                </p>
            </div>
        </div>

        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <slide *ngFor="let pic of featuredProject.pictures"><img src="{{pic}}" alt="Placeholder" style="display: block; width: 100%;"></slide>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the portfolio section to learn more</p>
        </div>
    </div>
</div>